html {
    height: 100%;
}
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #e4e9ff;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 0;
}

.img-header {
    width: 100%;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 50px;
    padding: 10px 0 25px 0;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #23285a;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.img-main {
    width: 80%;
    padding: 10px;
}

.text {
    text-align: center;
    font-family: 'Nunito', system-ui;
    max-width: 100%;
    padding: 1em;
    margin: 0;
    overflow: auto;
    color: #23285a;
}

h1 {
    font-size: 3em;
    width: 100%;
    margin: 0;
}

p {
    font-family: 'Helvetica';
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
}

.galeria {
    display: grid;
    place-items: center;
    /* justify-items: stretch; */
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "programmer-2"
    "programmer-3"
    "programmer-4"
    "programmer-5"
    "programmer-6";
    padding: 1em;
}

.img-galeria {
    width: 80%;
    padding: 10px;
}

#programmer-2 {
	grid-area: programmer-2;
}

#programmer-3 {
	grid-area: programmer-3;
}

#programmer-4 {
	grid-area: programmer-4;
}

#programmer-5 {
	grid-area: programmer-5;
}

#programmer-6 {
	grid-area: programmer-6;
}


.text1 {
    display: block;
    text-align: left;
    font-size: 15px;
    color: #23285a;
}

h2 {
    font-family: 'Nunito', system-ui;
    font-size: 25px;
    font-style: normal;
    color: #23285a;
    text-align: center;
}

